/* ШРИФТЫ */
/* --------------------------------------------------------- */

@font-face {
    font-family: "Gilroy Extra Bold";
    src: local("Gilroy Extra Bold"),
         url("../fonts/gilroyextrabold-webfont.woff2") format("woff2"),
         url("../fonts/gilroyextrabold-webfont.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy Light";
    src: local("Gilroy Light"),
         url("../fonts/gilroylight-webfont.woff2") format("woff2"),
         url("../fonts/gilroylight-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* --------------------------------------------------------- */
/* Анимация */

@keyframes goToLeft{
    to {
        transform: translateX(1500px);
    }
}

.disaperance {
    animation-name: goToLeft;
    animation-duration: 0.8s;
    animation-direction: reverse;
}
.aperance {
    animation-name: goToLeft;
    animation-duration: 0.8s;
    animation-direction: reverse;
}

/* --------------------------------------------------------- */


/* ОБЩИЕ СЕЛЕКТОРЫ */
/* --------------------------------------------------------- */

body {
    min-width: 1200px;
    min-height: 2795px;
    margin: 0;
    padding: 0;
    font-family: "Gilroy Extra Bold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.018rem;
    color: #000000;

    background-color: #ffffff;
}

a {
    font: inherit;
    text-decoration: none;
    color: #000000;
}

a:hover {
    opacity: 0.6;
}
a:active {
    opacity: 0.3;
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}

.container {
    width: 1160px;
    margin: 0 auto;
    /* padding: 0 20px; */
}

.columns {
    display: flex;
    justify-content: space-between;
}

.column-right {
    width: 560px;
    /* padding-left: 20px; */
}
/* ------------------------------------------------------------ */



/* ХЕДДЕР*/
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */

.main-header {

    height: 300px;
    margin-top: 40px;
    padding: 0 60px;
    box-sizing: border-box;
}

.main-header-logo{
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top: -25px;
    /* position: absolute; */
    /* top: -20px; */
}

.main-header-logo {
    height: 36px;
    width: 164px;
}

.main-navigation {
    margin: 0;
    padding: 0;
}
.main-navigation .columns {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 38px;
}

.search-form {
    position: relative;
    margin: 0;
    padding: 0;
    min-width: 200px;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    text-align: left; 
    opacity: 0.3;
}

.search-form input {
    border: none;
    background-color: transparent;
}

.search-form-text {
    position: absolute;
    top: 0;
    left: 40px;
    margin: 0;
    padding: 0;
    text-align: start;

}

.user-navigation {
    display: flex;
    width: 500px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}



.user-navigation-enter {
    width: 100px;
    margin-right: auto;
}

.user-navigation-compare {
    width: 100px;
}
.user-navigation-basket {
    width: 100px;
    text-align: right;
}







.site-navigation{
    display: flex;
    /* justify-content: space-between; */
    margin: 0;
    padding: 0;
    width: 1040px;
    list-style: none;
    letter-spacing: 0.22rem;
}

.site-navigation-catalog {
    width: 240px;
    margin-right: 300px;
}

.site-navigation-delivery {
    width: 160px;
}

.site-navigation-warranty {
    width: 140px;
    
}

.site-navigation-contacts {
    width: 120px;
    margin-left: auto;
}
/* .site-navigation > li {
    display: inline-block;
} */

.site-navigation > li a{
    text-transform: uppercase;
    /* letter-spacing: 2em; */
}



.catalog-menu {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    text-align: left; 
    
}

/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
.slider {
    position: relative;
}


.slider-button-list {
    /* На время закоментил, чтоб не забыть про них */
    position: absolute;
    top: 190px;
    right:80px;
    display: flex;
    width: 80px;
    justify-content: space-between;
    list-style: none;
}



.slider-list {
    margin: 0;
    padding:0;
    list-style: none;
    min-height: 400px;
    
}

.slider-list .columns .column-left {
    width:  580px;
    margin-top: -110px;
    text-align: center;
    
}
.slider-list .columns .column-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    margin-right: 60px;
    margin-left: auto;
    position: relative;
    margin-top: -32px;
}

.slider-item {
    display: none;
    margin-bottom: 100px;
    
}
.slider-item-current {
    animation-name: goToLeft;
    animation-duration: 0.5s;
    animation-direction: reverse;
    position: 1000px; 
    display: block;
}

.slider-number {
    position: absolute;
    top: -93px;
    right: 0px;
    margin: 0;
    padding: 0;
    font-family: "Gilroy Extra Bold", "Arial", sans-serif;
    font-size: 179.2px;
    line-height: 179.2px;
    color: #ffffff;
}

.slider-adv-slogan {
    z-index: 1;
    margin-bottom: 18px;
    font-family: "Gilroy Extra Bold", "Arial", sans-serif;
    font-size: 47px;
    line-height: 56px;
}

.slider-text {
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
    width: 500px;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}

.slider-link {
    width: 220px;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
    letter-spacing: 0.22rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
    box-shadow: 0px 8px 0px 0px #fff inset, 
    0px 16px 0px 0px #f0c52e inset;
}


.slider-link:hover {
    opacity: 1;
    box-shadow: 0px 40px 0px 0px #f0c52e inset;
}

.slider-link:active {
    color: rgba(0,0,0,0.3);
}

.description-params {
    width: 460px;
}

.description-params-value {
    font-family: "Gilroy Light", Arial, sans-serif;
    font-size: 36px;
    line-height: 48px;
}


.description-params-value th,
.description-params-name td {
    margin: 0;
    padding: 0;
    width: 160px;
}

.description-params-name td {
    padding-top: 5px;
}

.description-params-value th:nth-child(2),
.description-params-name td:nth-child(2) {
    width: 140px;

}
.description-params-name {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    
}

/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
.description-icons {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    list-style: none;
}

.description-icons li {
    position: relative;
    width: 160px;
    height: 160px;
    background-color: #f7e296;
}


.description-icons li a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.description-icon-names {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-bottom: 185px;
    list-style: none;
    
}

.description-icon-names li {
    width: 160px;
    word-wrap: wrap;
}


/* 
.description-icons > th {
    margin: auto;
    width: 160px;

    height: 160px;
    background-color: #f7e296;
}
.description-icons > th:hover,
.description-icons > th:active {
    background-color: #f0c52e;
}
.description-icons > th > a:hover{
    opacity: 1;
}
.description-icons > th > a:active{
    opacity: 0.3;
} */

/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
.services {
    min-height: 288px;
}

.services .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 95px;
}

.services-list {
    width: 280px;
    margin: 0;
    padding: 0;
    margin-top: -20px;
    list-style: none;
}

.services-item {
    height: 40px;
    width: 160px;
    margin-bottom: 25px;
    box-shadow: 0px 12px 0px 0px #e5e5e5 inset, 
        0px 20px 0px 0px #f0c52e inset;
}

.services-item:first-of-type:not(.services-item-current) {
    box-shadow: 0px 12px 0px 0px #fff inset, 
    0px 20px 0px 0px #f0c52e inset;
}

.services-item:hover,
.services-item:first-of-type:not(.services-item-current):hover {
    /* opacity: 1; */
    box-shadow: 0px 40px 0px 0px #f0c52e inset;
}

.services-item:active,
.services-item:first-of-type:not(.services-item-current):active {
    width: inherit;
    box-shadow: none;
    background-color: #000000;
}

.services-item:active a {
    color: #f7e184;

}


.services-item-current {
    width: inherit;
    box-shadow: none;
    background-color: #000000;
}

.services-item-current a,
.services-list > .services-item-current:active a {
    color: #f7e184;
    
}

.services-item-current:hover a {
    color: #000000;
}



.services-item a {
    display: inline-block;
    width: 160px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.22rem;
    text-transform: uppercase;
    text-align: center;
    vertical-align: sub; 
}

.services-item a:hover {
    opacity: 1;
}


.services-wrapper {
    position: relative;
    display: none;
    width: 760px;
}

.services-title {
    margin-top: -28px;
    margin-bottom: 31px;
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.060rem;
}

.services-text {
    margin:0;
    padding:0;
    display: inline-block;
    width: 460px;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}
.services-wrapper img {
    position: absolute;
    top: -15px;
    right: 65px;
    margin-left: 75px;
}

.service-description-current {
    animation-name: goToLeft;
    animation-duration: 0.5s;
    animation-direction: reverse;
    display: block;
}

/* Разобраться с картинками */
/* БРЕНДЫ */
/* ------------------------------------------------------- */

.brands-list  {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
}

.brand-item {
    opacity: 0.2;
    filter: grayscale(100%);

}

.brand-item:hover{
    opacity: 1;
    filter: grayscale(0);
}

/* ------------------------------------------------------- */
/* ------------------------------------------------------- */


.about {
    width : 500px;
}

.contacts {
    width: 560px;
}

.about-title,
.contacts-title {
    font-family: "Gilroy Extra Bold", "Arial", sans-serif;
    font-size: 47px;
    line-height: 48px;
    margin-bottom: 45px;
}

.about-text,
.contacts-text {
    margin: 0;
    padding: 0;

    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;

    margin-bottom: 30px;

}

.about-text:last-of-type{
    margin-bottom: 62px;
}

.delivery-list {
    margin: 0;
    padding: 0;
    margin-left: 35px;
    margin-bottom: 63px;
    list-style: none;
    font-family: "Gilroy Extra Bold", "Arial", sans-serif;
    font-size: 16px;
    line-height: 40px;
}


.contacts img {
    width: 560px;
    height: 222px;
    margin-bottom: 78px;
}

.about-link,
.contacts-link {
    width: 260px;
    margin-bottom: 0;
}

/* ------------------------------------------------------- */
/* ------------------------------------------------------- */

.main-header {
    background-color: #f7e296;
}

.services {
    background-color: #e5e5e5;
}

.catalog-menu {
    display: none;
    position: absolute;
}

.site-navigation > li:hover .catalog-menu {
    display: inline-block;
    list-style: none;
}

/* ФУТТЕР */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

.main-footer {
    margin-top: 85px;
    min-height: 323px;
    padding-top: 67px;
    background-color: #464646;
    color: #ffffff;
}

.main-footer .container {
    min-height: 190px; 
}

.main-footer a {
    color: #ffffff;
}
 
.footer-logo {
    width: 300px;
    margin-right: 60px;
    text-align: left;
}

.footer-logo a img{
    margin-bottom: 22px;
}

.footer-text {
    margin: 0;
    padding: 0;

    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.01rem

}

/* Середина футтера */
/* ------------------------------------------------------------ */

.footer-links { 
    align-self: flex-end;
    margin-right: 35px;
    width: 440px;
    text-align: center;
}

.footer-links a{
    text-transform: uppercase;
}

.site-navigation-footer {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 5px 0 7px;
    margin-bottom: 58px;
    list-style: none;
}

.site-navigation-footer li {
    letter-spacing: 0.22rem;
}

.social-button-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 20px;
}

.social-button {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 18px;
    font-size: 0px;
    opacity: 0.3;
    
    background-color: transparent;
}

.social-facebook {
    background-image: url("../img/icon-facebook.svg");
    background-repeat: no-repeat;
}

.social-instagram {
    background-image: url("../img/icon-instagram.svg");
    background-repeat: no-repeat;
}

.social-twitter {
    background-image: url("../img/icon-twitter.svg");
    background-repeat: no-repeat;
}

/* Правая часть футтера */
/* ------------------------------------------------------------ */

.footer-login {
    width: 325px;
    margin-top: -5px;
    text-align: end;
    
}

.user-navigation-footer {
    width: inherit;
    justify-content: space-between;
    line-height: 36px;
    margin-bottom: 35px;
}

.user-navigation-footer a{
    line-height: 36px;
}

.user-navigation-footer li {
    display: inline-block;
}


/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/*КАТАЛОГ*/

.inner-page-title {
    font-size: 47px;
    line-height: 48px;
    margin-top: 45px;
    margin-bottom: 35px;
}

.bread-crumbs {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    list-style: none;
}

.filters {
    width: 268px;
    margin-bottom: -85px;
    padding-left: 60px;
    background-color: #eeeeee;
}

.filters-title {
    display: inline-block;
    margin: 0;
    margin-left: -60px;
    padding: 0;
    padding-left: 60px;
    width: 100%; 
    height: 70px;
    vertical-align: bottom;
    background-color: #dcdcdc;
}



.filters ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
 .filters fieldset {
     border: none;
 }

/* .filter-wrapper {
    margin:0;
    padding: 0;
    background-color: #eeeeee;
    
} */

.catalog {
    width: 760px;
    padding: 0;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-item {
    width: 360px;
    margin-left: 40px;
}

.catalog-item:nth-child(2n+1){
    margin-left: 0px;
}